{{page-title "Index"}}
Your id is: {{this.id}}
<br>

Clock:
<b>
    {{this.clock.time}}
</b>
<br>

<br>
<button {{on "click" this.startPolling}}>Start auto update time</button>

<br>
<Input @value={{this.updateId}} @placeholder="id to update timestamp" />
<button {{on "click" this.updateTimestamp}}>Update timestamp of the client with the given id</button>
<br>
<br>

<b>
    Chat:
</b>
<br>
{{#each this.chat as |message|}}
    <b>Message</b>:
    {{message.text}}
    <br>
    from: {{message.from}} <br>
    to: {{message.to}} <br>
    at {{message.time}}
    <br>
    <br>
{{/each}}

<b> Send new message </b>
<br>
<Input @value={{this.messageTo}} @placeholder="id to send message to" />
<Input @value={{this.message}} @placeholder="message to send" />
<button {{on "click" this.sendMessage}}>Send message</button>

