{{page-title "Index"}}
Clock:
<b>
    {{@model.time}}
</b>

<!--
<br>
<button {{on "click" this.updateTime}}>Update time</button>
-->
<br>
<button {{on "click" this.startPolling}}>Start auto update time</button>

<br>
<Input @value={{this.updateId}} @placeholder="id to update timestamp" />
<button {{on "click" this.updateTimestamp}}>Update timestamp of the client with the given id</button>
<br>
<br>

ID is: {{this.id}}
